<header class="p-3 bg-dark text-white mb-3">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="../assets/logo.png" alt="Logo" class="logo" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="/movies" class="nav-link px-2 text-white">映画一覧</a>
        </li>
        <li>
          <a href="/favorites" class="nav-link px-2 text-white"
            >ブックマークした映画</a
          >
        </li>
      </ul>

      <app-search-movies></app-search-movies>

      <div class="text-end">
        <ng-container *ngIf="currentUser$ | async; else loginButotn">
          <button
            (click)="signOut()"
            type="button"
            class="btn btn-outline-light me-2"
          >
            ログアウト
          </button>
        </ng-container>
        <ng-template #loginButotn>
          <a
            routerLink="/login"
            type="button"
            class="btn btn-outline-light me-2"
          >
            ログイン
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</header>
